@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.section-title span{
    color: coral;
}

.cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 3px solid coral;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
}

.cta:hover{
    color: white;
    background-color: coral;
}

.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.brand h1 span{
    color: coral;
}

/* Header */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: 0.3s ease background-color;
}

#header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0 10px;
    background-image: linear-gradient(60deg, black 0%, #29323c 100%);
    /* background-color: black; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#header nav .brand h1{
    color: white;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
}

#header nav .brand h1 span{
    color: coral;
}

#header nav .logo img {
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
}

#header nav header{
    text-align: center;
    align-items: center;
    color: white;
}

#header nav ul {
    list-style: none;
}

#header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

#header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

#header nav ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background: coral;
    display: block;
    transition: 0.2s linear;
}

#header nav ul li a:hover::after {
    width: 100%;
}

#header nav ul li a:hover {
    color: coral;
}
/* End Header Section */

/* Hero Section */
#hero{
    background-image: url(./images/bg.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation: text_reveal_name 0.5s ease forwards;
    animation-delay: 3s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: coral;
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}

#hero h1:nth-child(1) span {
    animation-delay: 0.5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

/* End Hero Section */

/* Work Experience Section */

#experience .work{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#experience .work-head{
    max-width: 500px;
    margin: 0 auto;
}

#experience .work-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#experience .work-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./images/workex.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#experience .work-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.9;
    z-index: -1;
}

#experience .work-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#experience .work-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: capitalize;
}

#experience .work-item p{
    color: white;
    text-align: left;
}

/* End Work Ex Section */

/* Eduction Section */

#education .education{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#education .education-head{
    max-width: 500px;
    margin: 0 auto;
}

#education .education-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#education .education-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#education .education-bottom .icon{
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
}

#education .education-item h2{
    font-size: 2rem;
    margin-bottom: 10px;
}

#education .education-item p{
    text-align: left;
}

/* End Education Section */

/* Project Section */

/* Projects section */
#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}

#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info h2 span{
    font-style: italic;
}

#projects .project-info p {
    color: white;
}

#projects .project-info p a{
    color: coral;
    text-decoration: underline;
}

#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.7;
}

#projects .project-img img {
    transition: 0.3s ease transform;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}

/* End Projects section */

/* About Section */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
}


#about .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .col-left .cta{
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}

#about .col-left .about-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid coral;
    z-index: -1;
}

/* End About Section */

/* Footer */
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 20px;
    color: white;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item a i{
    color: white;
    margin: 0 5px;
    cursor: pointer;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    
}

#footer .social-item:hover i{
    color: coral;
}

#footer p {
    color: white;
    font-size: 1.3rem;
}

/* End Footer */

/* Contact Me */
.contact{
    background-image: url(./images/bg.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.contact::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

.contact h1{
    text-align: center;
    color: white;
    font-size: 35px;
    padding: 30px;
    text-transform: uppercase;
}

form input[type=text],select,textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

form input[type=submit] {
    background-color: coral;
    color: white;
    padding: 12px 20px;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

form input[type=submit]:hover {
    background-color: crimson;
}

form label{
    font-size: 15px;
    color: white;
}
/* Form end */

/* Certificates Section */

.certificates {
    background-image: url(./images/bg.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.certificates::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

.certificates h1 {
    text-align: center;
    color: white;
    font-size: 35px;
    padding: 30px;
    text-transform: uppercase;
}

#certificates .certificates .certificate_image_box{
    width: 95%;
    margin: 10px auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

#certificates .certificates .certificate_image{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.certificates .certificate_image_box .certificate_image img{
    width: 100%;
    transition: 0.3s;
}

.certificates .certificate_image_box .certificate_image img:hover{
    opacity: 0.4;
}

.certificates .certificate_image_box .certificate_image a h3{
    position: absolute;
    font-size: 25px;
    margin-bottom: 130px;
    color: coral;
    font-family: 'Montserrat',sans-serif;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}

.certificates .certificate_image_box .certificate_image a h3:hover{
    opacity: 1;
}

/* Certificates end */



/* Keyframes */

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: coral;
        font-weight: 500;
    }
}

/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }

    h1.section-title {
        font-size: 6rem;
    }

    /* Hero */
    #hero h1 {
        font-size: 7rem;
    }

    /* End Hero */
}